html,body {
      margin: 0;
      padding: 0;
      background-color: White;
      overflow-x: hidden;
    }


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	
	padding: 2px;
    line-height: 1.42857143;
    vertical-align: top;
    font-size:13px;
	border:none ! important;
  
}

@font-face {
    font-family: 'kalra-bold';
    src: url('lib/bootstrap/fonts/Karla-Bold.ttf');

}
body{
    font-family: kalra-bold;
}

span{
    font-size:13px;
}
.arrowImg::before{
    content:'';
    margin-right:6px;
}
.highlightuser{
    background-color: #e2dede;
}

.smalluserImg{
    width:40px;
    height:40px;
    border-radius:50%;
}

.headerImgSpan{
    color:white;
    position: relative;
    top:6px;
}
.searchbox{
    max-width:800px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%; 
    margin:-100px 0 0 -400px;
}
.width50{
    width:50px;
}
.width70{
    width:70px;
}
.minwidth270{
    min-width:270px;
}
.bigImg{
    width:150px;
    height:180px;
}
.paddingtop6{
    padding-top:6%;
}
.marginzero{
  margin:0;  
}
.marginzerotop{
    margin-top:0%;
}
.marginzeroleft{
    margin-left:0%;
}
.marginzerobottom{
    margin-bottom:0%;
}
.marginzeroright{
    margin-right:0%;
}
.width17{
    width:13%;
}
.divider{
    border-right:1px solid #f3eaea;
}
.margintop6{
    margin-top:6px;
}
.navbarUl{
    margin:0;
    padding:7px;
}
#managerList li{
    margin-bottom:4px;
}

@import url('./font-awesome.css');
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: left;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}

.creationContainer{
    position:relative;
    top:12%;
    left:83%;
}
.input-sm{
    height:40px;
}
.panel{
    margin-bottom:0px;
}
.detailcontainer{
    margin-top:4%;
    padding:4px
}
select{
    height:38px ! important;
}
#myGrid{
    width:100% !important;
    height:200px !important;
}
.menu{
   border-bottom-width: thin;
    border-bottom-style: groove;
    margin-bottom: 15px;
}

.slick-header{
    height:25px;
}

.detailView{
   margin: 5%;
   
} 
.rowDetailView{
    padding: 5px;
    background-color: lightgray;
    margin-bottom: 2px;
}
/*.rowLabelElement{
    background-color: white;
    width: 200px;
    height: 45px;
    margin: 25px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    
}*/
/*.rowDataElement{
    position: relative;
    left: 250px;
    width: 200px;
    background-color: white;
    height: 45px;
    bottom: 70px;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
}*/
.rowDataElement{
    position: relative;
    left: 250px;
    width: 200px;
    bottom: 33px;
    text-align: center;
 }
.rowLabelElement{
    width: 200px;
    text-align: center;
    line-height: 45px;
    background-color: white;
    position: relative;
    left: 10px;
    top: 10px;
}
