



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron marginzerobottom">
      <div class="container">
    <div class="row">
     
    <div class="col-sm-3 col-md-3 paddingtop6 width17">
        <img ng-src="{{people.photoURL}}" alt="" class="bigImg" />
    </div>
    <div class="col-sm-3 col-md-3 paddingtop6 marginzeroleft">
                        <h3>{{people.firstName}}&nbsp;&nbsp;{{people.lastName}}</h3>
                        <small><i class="glyphicon glyphicon-map-marker">
                        </i><cite title="{{people.location}}">{{people.location}}</cite></small>
                        <p>
                            <i>{{people.designation}}</i>
                            <br />
                            <i>{{people.superDepartmentDesc}}</i>
                            <br />
                           </p>
                        <!-- Split button -->
                       </div>
             
              <div class="col-sm-4 col-md-4" class="paddingtop6" ></div>
     </div>
      </div>
    </div>
  

  
    <div class="container">
      <!-- Example row of columns -->
     <div class="row">
    <h3>Profile</h3>
    <hr>
    </div>
    
      <div class="row">
        <div class="col-md-4">
          <h4>Contact Info </h4>
    <table class="table table-borderless ">
     <tr>
     <td class="width50">Work</td><td>:</td><td><b>{{people.workPhone}}</b></td>
     </tr>
     <tr>
     <td class="width50">Mobile</td><td>:</td><td><b>{{people.mobilePhone}}</b></td>
     </tr>
      <tr>
     <td class="width50">Home</td><td>:</td><td><b>{{people.homePhone}}</b></td>
     </tr>
      <tr>
     <td class="width50"><i class="glyphicon glyphicon-envelope"></td><td>:</td><td><b>{{people.emailAddress}}</b></td>
     </tr>
      <tr>
     <td class="width50"><i class="fa fa-md fa-skype"></td><td>:</td><td><b>{{people.skypeId}}</b></td>
     </tr>
     <tr>
     <td class="width50"><i class="glyphicon glyphicon-map-marker"></td><td>:</td><td><b>{{people.location}}</b></td>
     </tr>
    </table>
        </div>
        <div class="col-md-4">
          <h4>Work Profile</h4>
          <table class="table table-borderless ">
     <tr>
     <td class="width70">Accolite Id</td><td>&nbsp;:</td><td class="minwidth270"><b>{{people.employeeIDNumber}}</b></td>
     </tr>
     <tr>
     <td class="width70">Type</td><td>&nbsp;:</td><td class="minwidth270"><b>{{people.workerType}}</b></td>
     </tr>
      <tr>
     <td class="width70">BU</td><td>&nbsp;:</td><td class="minwidth270"><b>{{people.superDepartmentDesc}}</b></td>
     </tr>
     
    </table>
      
       </div>
        <div class="col-md-4">
          <h4>ORG Structure</h4>
      <h5 style="color:gray;">Managers</h5>
      <ul style="list-style-type:none" id="managerList">
      <li> <img src="./images/Man-PNG-Pic.png" class="smalluserImg" />&nbsp;<span>{{people.seniorSupervisior}}</span><br><img  class="arrowImg" src="./images/arrow.png" />
      </li>
      <li>
          <img src="./images/Man-PNG-Pic.png" class="smalluserImg" alt="" />&nbsp;<span>{{people.supervisor}}</span><br><span></span><img  class="arrowImg" src="./images/arrow.png" />
      </li>
      <li class="highlightuser">
      <img src="./images/Man-PNG-Pic.png" class="smalluserImg" /><span>&nbsp; {{people.fullName}}</span>
      </li>
      </ul>
           <h5 style="color:gray;">Directs(3)</h5>
          <ul style="list-style-type:none">
          <li ng-repeat="direct in directs"> <img src="./images/Man-PNG-Pic.png" class="smalluserImg" />&nbsp;<span>{{direct.fullName}}</span>
          </li>

          <!--<li>
          <img src="./images/Man-PNG-Pic.png"  class="smalluserImg" alt="" />&nbsp;<span>Mukesh Mishra</span>
          </li>
          <li>
          <img src="./images/Man-PNG-Pic.png" class="smalluserImg" /><span>&nbsp; Mukesh Mishra</span>
          </li>-->
          </ul> 
        <h5 style="color:gray;">Contigents(3)</h5>
          <ul style="list-style-type:none">
          <li ng-repeat="contingent in contingents"> <img src="./images/Man-PNG-Pic.png" class="smalluserImg" />&nbsp;<span>{{contingent.fullName}}</span>
          </li>
          <!--<li>
          <img src="./images/Man-PNG-Pic.png" class="smalluserImg" alt="" />&nbsp;<span>Mukesh Mishra</span>
          </li>
          <li>
          <img src="./images/Man-PNG-Pic.png" class="smalluserImg" /><span>&nbsp; Mukesh Mishra</span>
          </li>-->
          </ul>        
            
   
          </div>
      </div>




      
    </div> <!-- /container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
  


