<div class="row detailcontainer">
    <div>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
        <span class = "label label-primary">Primary Label</span>
    </div>    
</div>    