<div class="row detailcontainer detailView">
    <div>
        <div class="rowDetailView">
            Basic Detail
            <div>
                <div class="rowLabelElement">FirstName</div>
                <div class="rowDataElement">{{employeedata.firstName}}</div>
            </div>
            <div>
                <div class="rowLabelElement">MiddleName</div>
                <div class="rowDataElement">{{employeedata.middleName}}</div>
            </div>
            <div>
                <div class="rowLabelElement">LastName</div>
                <div class="rowDataElement">{{employeedata.lastName}}</div>
            </div>
            <div>
                <div class= "rowLabelElement">AccoliteId</div>
                <div class="rowDataElement">{{employeedata.employeeCode}}</div>
            </div>
            <div>
               <div class = "rowLabelElement">DOB</div>
                <div class="rowDataElement">{{employeedata.DOB}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">DOJ</div>
                <div class="rowDataElement">{{employeedata.DOJ}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">location</div>
                <div class="rowDataElement">{{employeedata.location}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">employmentType</div>
                <div class="rowDataElement">{{employeedata.employmentType}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">Gender</div>
                <div class="rowDataElement">{{employeedata.Gender}}</div> 
            </div>
                   
        
        </div>
        <div class="rowDetailView">
            Contact Detail
            <div>
                <div class = "rowLabelElement">workPhone</div>
                <div class="rowDataElement">{{employeedata.workPhone}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">mobile</div>
                <div class="rowDataElement">{{employeedata.mobile}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">officephone</div>
                <div class="rowDataElement">{{employeedata.officephone}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">email</div>
                <div class="rowDataElement">{{employeedata.email}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">skypeId</div>
                <div class="rowDataElement">{{employeedata.skypeId}}</div>
            </div>
            
            
        </div>
        <div class="rowDetailView">
            Address Detail
            <div>
                <div class="rowLabelElement">currentAddress</div>
                <div class="rowDataElement">{{employeedata.currentAddress}}</div>
            </div>
            <div>
                 <div class= "rowLabelElement">permanentAddress</div>
                 <div class="rowDataElement">{{employeedata.permanentAddress}}</div>
            </div>
        </div>
        <div class="rowDetailView">
            Work Profile Details
            <div>
                 <div class = "rowLabelElement">organization</div>
                 <div class="rowDataElement">{{employeedata.organization}}</div>
            </div>
            <div>
                <div class="rowLabelElement">currentAddress</div>
                <div class="rowDataElement">{{employeedata.currentAddress}}</div>
            </div>
            <div>
                <div class="rowLabelElement">currentAddress</div>
                <div class="rowDataElement">{{employeedata.currentAddress}}</div>
            </div>
            <div>
                <div class="rowLabelElement">currentAddress</div>
                <div class="rowDataElement">{{employeedata.currentAddress}}</div>
            </div>
            <div>
                <div class="rowLabelElement">currentAddress</div>
                <div class="rowDataElement">{{employeedata.currentAddress}}</div>
            </div>
        </div>
        
        
        <div class="rowDetailView">
            Other Details
            <div>
                <div class = "rowLabelElement">BU</div>
                <div class="rowDataElement">{{employeedata.BU}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">Designation</div>
                <div class="rowDataElement">{{employeedata.Designation}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">Project</div>
                <div class="rowDataElement">{{employeedata.Project}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">Manager</div>
                <div class="rowDataElement">{{employeedata.Manager}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">PassportNo</div>
                <div class="rowDataElement">{{employeedata.PassportNo}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">PanNo</div>
                <div class="rowDataElement">{{employeedata.PanNo}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">DrivingLicenseNo</div>
                <div class="rowDataElement">{{employeedata.DrivingLicenseNo}}</div>
            </div>
            <div>
                 <div class = "rowLabelElement">AadharNo</div>
                 <div class="rowDataElement">{{employeedata.AadharNo}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">BloodGroup</div>
                <div class="rowDataElement">{{employeedata.BloodGroup}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">MaritalStatus</div>
                <div class="rowDataElement">{{employeedata.MaritalStatus}}</div>
            </div>
            <div>
                <div class = "rowLabelElement">Nationality</div>
                <div class="rowDataElement">{{employeedata.Nationality}}</div>
            </div>
        
    </div>    
</div>    