
            <div class="row detailcontainer">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                            <!--<auto-suggest clickedFunction="dataFunction(data)" datas="datas"></auto-suggest>-->
                            <h3 class="panel-title">Basic Detail</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                <input type="text" name="Salutation" id="Salutation" class="form-control input-sm" placeholder="Salutation">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="first_name" ng-model="ecc.firstName" id="first_name" class="form-control input-sm" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="Middle_name" id="Middle_name" class="form-control input-sm" placeholder="Middle Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                                        </div>
                                    </div>

                                </div>

                        <div class="row">
                             <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                          <select class="form-control" id="gender" ng-model="employee.gender" ng-options="gender.id as gender.description for gender in genderList">
                                                      <option value="">Select Gender</option>
                                                    </select>
                                                </div>
                                    </div>

                           <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="designation" id="designation" class="form-control input-sm" placeholder="Designation">
                                        </div>
                                    </div>-->
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                    <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control" placeholder="Date Of Birth" />
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                    </div>
                                    </div>
                        </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                    <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control" placeholder="Date Of Joining" />
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                    </div>
                                    </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="location" id="location" class="form-control input-sm" placeholder="Location">
                                        </div>
                                    </div>
                            
                                    </div>
                                <div class="row">
                                   
                                    
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                           <select class="form-control" id="Type" ng-model="employee.employementType" ng-options="employementType.id as employementType.description for employementType in employementTypeList">
                                                      <option value=""> Select Employement Type</option>
                                                      
                                                     </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="accoliteId" id="accoliteId" class="form-control input-sm" placeholder="Accolite Id">
                                        </div>
                                    </div>

                                </div>
                                
                        </div>
                                

                                <!--<input type="submit" value="Register" class="btn btn-info btn-block">-->


                            </div>
                        </div>
               
                <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                            <h3 class="panel-title">Contact Detail</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                <input type="text" name="work_Phone" id="work_Phone" class="form-control input-sm" placeholder="Work Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                             <input type="text" name="mobile" id="mobile" class="form-control input-sm" placeholder="Mobile">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                             <input type="text" name="office_Phone" id="office_Phone" class="form-control input-sm" placeholder="Office Phone">
                                        </div>
                                    </div>
                                </div>

                        <div class="row">

                                <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="Skype" id="skype" class="form-control input-sm" placeholder="Skype Id">
                                        </div>
                                    </div>

                        </div>
                               

                                


                            </div>
                        </div>
                    </div>
                
                     <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                            <h3 class="panel-title">Address Detail</h3>
                         
                            </div>
                   
                            <div class="panel-body">
                                <div class="row">
                                    
                                      <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                <select class="form-control" id="AddressType" ng-model="employee.address[0].addressType"  ng-options="addressType.id as addressType.description for addressType in addressTypeList">
                                                      <option value=""> Select Type</option>
                                                    
                                                        
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Address"></textarea>
                                        </div>
                                    </div>

                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                <select class="form-control" id="Country">
                                                      <option> Select Country</option>
                                                      <option value="1">India</option>
                                                      <option value="2">USA</option>
                                                        
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                        <select class="form-control" id="State">
                                                      <option> Select State</option>
                                                      <option value="1">Delhi</option>
                                                      <option value="2">Uttar Pradesh</option>
                                                        
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                             <input type="text" name="city" id="city" class="form-control input-sm" placeholder="City">
                                        </div>
                                    </div>
                                </div>

                        <div class="row">

                                <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="pincode" id="pincode" class="form-control input-sm" placeholder="Postal Code">
                                        </div>
                                    </div>
    

                        </div>
                              <hr>  

                                  <div class="row">
                                    
                                      <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                <select class="form-control" id="AddressType1" ng-model="employee.address[1].addressType"  ng-options="addressType.id as addressType.description for addressType in addressTypeList">
                                    <option value="">Select Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-8 col-md-8">
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Address"></textarea>
                                        </div>
                                    </div>

                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                <select class="form-control" id="Country">
                                                      <option> Select Country</option>
                                                      <option value="1">India</option>
                                                      <option value="2">USA</option>
                                                        
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                        <select class="form-control" id="State">
                                                      <option> Select State</option>
                                                      <option value="1">Delhi</option>
                                                      <option value="2">Uttar Pradesh</option>
                                                        
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                             <input type="text" name="city" id="city" class="form-control input-sm" placeholder="City">
                                        </div>
                                    </div>
                                </div>

                        <div class="row">

                                <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <input type="text" name="pincode" id="pincode" class="form-control input-sm" placeholder="Postal Code">
                                        </div>
                                    </div>
    

                        </div>
                                
                                

                            </div>
                        </div>
                    </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                            <h3 class="panel-title">Work Profile Details</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                <select class="form-control" id="Organization">
                                                      <option> Select Organization</option>
                                                      <option value="1">Accolite Software Ltd.</option>
                                                      <option value="2">Accolite Software India Ltd.</option>
                                                        <option value="3">Accolite Labs</option>
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" id="BU">
                                                      <option> Select Business Unit</option>
                                                      <option value="1">Banking & Finance</option>
                                                      <option value="2">Health & Care</option>
                                                        <option value="3">Aviation</option>
                                                 <option value="3">Telecommunication</option>
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" id="Designation">
                                                      <option> Select Designation</option>
                                                      <option value="1">Software Engineer</option>
                                                      <option value="2">Senior Software Engineer</option>
                                                        <option value="3">Associate Technical deleivery Manager</option>
                                                 
                                                     </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" id="Project">
                                                      <option> Select Project</option>
                                                      <option value="1">EZHIRE</option>
                                                      <option value="2">HRMS</option>
                                                        <option value="3">Internal</option>
                                                 
                                                     </select>
                                        </div>
                                    </div>
                                </div>

                        <div class="row">

                                <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="Manager" id="Manager" class="form-control input-sm" placeholder="Manager">
                                        </div>
                                    </div>
                                     
                                    </div>

                        </div>
                            
                            


                            </div>
                        </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                            <h3 class="panel-title">Other Details</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                <input type="text" name="Passport" id="Passport" class="form-control input-sm" placeholder="Passport No">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                             <input type="text" name="PAN" id="PAN" class="form-control input-sm" placeholder="PAN No">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                             <input type="text" name="DL" id="DL" class="form-control input-sm" placeholder="Driving License No">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                             <input type="text" name="Aadhar" id="Aadhar" class="form-control input-sm" placeholder="Aadhar No">
                                        </div>
                                    </div>
                                </div>

                        <div class="row">

                                <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="Blood_Group" id="Blood_Group" class="form-control input-sm" placeholder="Blood Group">
                                        </div>
                                    </div>
                                     <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                             <select class="form-control" id="maritial_Status" ng-model="employee.maritialStatus"  ng-options="maritialStatus.id as maritialStatus.description for maritialStatus in martialStatusList">
                                            <option value="">Select Maritial Status</option>
                                            </select>
                                        </div>
                                    </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <input type="text" name="Nationality" id="Nationality" class="form-control input-sm" placeholder="Nationality">
                                        </div>
                                    </div>
                                    </div>
                                <input type="submit" value="Clear" class="btn btn-info">
                                 <input type="submit" value="Register" class="btn btn-info">

                        </div>
                            
                              


                            </div>
                        </div>
                
                <script type="text/javascript" >
       $(document).ready(function(){
           console.log("inside datepicker");
           $('datetimepicker1').datepicker();
       })

                </script>
                </div>
